NEXT_PUBLIC_SUPABASE_URL=https://SEU-PROJETO.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY= sua-chave-anon-aqui
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_ADMIN_EMAIL=nunes.bass.forever@gmail.com
NEXT_PUBLIC_WHATSAPP_NUMBER=5527989020157
